body {
                margin:10px 10px 0px 10px;
                padding:0px;
                background:#ddd;
                }
        A       { color: #993300; text-decoration: underline; }
        A:link          { color: #003366; text-decoration: underline; }
        A:visited       { color: #003366; text-decoration: underline; }
        A:active        { color: #999999;  }
        A:hover         { color: #999999;  }

        h1, h2, h3 {
                margin: 0px;
                padding: 0px;
        }

        #banner {
  		font-family:palatino,  georgia, verdana, arial, sans-serif;
  		color:#333;
                background:#aaaaaa;
                font-size:x-large;
                font-weight:normal;
                border-top:1px solid #666;
                border-right:1px solid #666;
                border-left:1px solid #666;
                voice-family: "\"}\"";
		voice-family: inherit;
                padding-left: 15px;
                padding-top: 3px;
                height:65px;
                }
        html>body #banner {
                height:65px;
                }

        #banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
                font-family:georgia, verdana, arial, sans-serif;
                font-size: xx-large;
                color: #a00;
                text-decoration: none;
                }

        .description {
                font-family:palatino,  georgia, times new roman, serif;
                color:#333;
                font-size:medium;
                text-transform:none;
                }

                .date   {
                font-family:verdana, arial, sans-serif;
                font-size: small;
                color: #666;
                border-bottom:1px solid #999;
                margin-bottom:10px;
                font-weight:bold;
                }

        #leftcontent {
                      left:10px;
                      top:79px;
                       background:#fff;
                      border:1px solid #333;
                      margin-right:201px;
        }

        #rightcontent {
                position: absolute;
                right:10px;
                top:79px;
                width:200px;
                background:#69c;
                border:1px solid #333;
        }

   .title  { 
                font-family: palatino, georgia, times new roman, serif;
                font-size: large;
                color: #666;
                }       

     .title a,
     .title a:link,
     .title a:visited,
     .title a:active {
                font-family:verdana, arial, sans-serif;
                font-size: medium;
                color: #993333;
                text-decoration: none;
                }
     .title a:hover {
                font-family:verdana, arial, sans-serif;
                font-size: medium;
                color: #993300;
                text-decoration: underline;
                }

        .blog {
                padding:15px;
                background:#ddd;
                }


        .blogbody {
                font-family:palatino, georgia, verdana, arial, sans-serif;
                color:#333;
                font-size:small;
                line-height:16px;
                background:#ddd;
                }

        .blogbody a,
        .blogbody a:link,
        .blogbody a:visited,
        .blogbody a:active,
        .blogbody a:hover {
                font-weight: normal;
                text-decoration: underline;
        }
        .side {
                font-family:verdana, arial, sans-serif;
                color:#333;
                font-size:small;
                font-weight:normal;
                background:#cc9;
                line-height:140%;
                padding:2px;
                }

        .sidetitle {
                font-family:palatino, georgia, times new roman, serif;
                color:#006;
                font-size:medium;
                font-weight:normal;
                line-height:140%;
                padding:2px;
                margin-top:10px;
                letter-spacing: .1em;
                background:#cc6;
                text-transform:uppercase;
                }

        .syndicate {
                font-family:verdana, arial, sans-serif;
                font-size:xsmall;
                line-height:140%;
                padding:2px;
                margin-top:10px;
                background:#FFF;
                }

        .powered {
                font-family:palatino, georgia, times new roman, serif;
                color:#666;
                font-size:small;
                line-height:140%;
                text-transform:uppercase;
                padding:2px;
                margin-top:10px;
                letter-spacing: .2em;
                background:#FFF;
                right:0;
                }

        .calendar {
                font-family:verdana, arial, sans-serif;
                color:#666;
                font-size:xx-small;
                background:#FFF;
                line-height:140%;
                padding:2px;
                text-align:center;
                }

        .calendarhead {
                font-family:palatino, georgia, times new roman, serif;
                color:#666600;
                font-size:xx-small;
                font-weight:normal;
                background:#FFF;
                line-height:140%;
                padding:2px;
                letter-spacing: .3em;
                text-transform:uppercase;
                }


        .comments-body {
                font-family:palatino, georgia, verdana, arial, sans-serif;
                color:#666;
                font-size:medium;
                font-weight:normal;
                background:#FFF;
                line-height:140%;
                padding-bottom:10px;
                padding-top:10px;
                border-bottom:1px dotted #999;
                }

        .comments-post {
                font-family:verdana, arial, sans-serif;
                color:#666;
                font-size:small;
                font-weight:normal;
                background:#FFF;
                }

        .trackback-url {
                font-family:palatino, georgia, verdana, arial, sans-serif;
                color:#666;
                font-size:small;

                background:#FFF;
                line-height:140%;
                padding:5px;
                border:1px dotted #999;
                }

        .trackback-body {
                font-family:palatino, georgia, verdana, arial, sans-serif;
                color:#333;
                font-size:small;
                margin:10px 10px 0px 10px;
                background:#FFF;
                line-height:200%;
                border-bottom:1px dotted #336;
                padding:5px;
                }

        .trackback-post {
                font-family:verdana, arial, sans-serif;
                color:#666;
                font-size:small;
                font-weight:normal;
                }


        .comments-head  {
                font-family:palatino, georgia, verdana, arial, sans-serif;
                font-size:medium;
                color: #666;
                border-bottom:1px solid #999;
                margin-top:20px;
                font-weight:bold;
                background:#FFF;
                }

        #banner-commentspop {
                                 font-family:palatino, georgia, verdana, arial, sans-serif;
                color:#FFF;
                font-size:large;
                font-weight:bold;
                border-left:1px solid #FFF;
                border-right:1px solid #FFF;
                border-top:1px solid #FFF;
                background:#003366;
                padding-left:15px;
                padding-right:15px;
                padding-top:5px;
                padding-bottom:5px;                                              
                right:0;
                      
                }

