body {
		margin:0px 0px 20px 0px;
		background:#FFF;		
		}
	A 			{ color: #003366; text-decoration: underline; }
	A:link		{ color: #003366; text-decoration: underline; }
	A:visited	{ color: #003366; text-decoration: underline; }
	A:active	{ color: #999999;  }
	A:hover		{ color: #999999;  }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	#banner {
		font-family:palatino,  georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:x-large;
		font-weight:normal;	
  		padding:15px;
                border-top:4px double #666;
		}

	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family: palatino,  georgia, verdana, arial, sans-serif;
		font-size: xx-large;
		color: #333;
		text-decoration: none;
		}

	.description {
		font-family:palatino,  georgia, times new roman, serif;
		color:#333;
		font-size:medium;
  		text-transform:none;	
		}
				
	#content {
		position:absolute;
		background:#FFF;
		left:225px;
		margin-right:20px;
		margin-bottom:20px;
		border:1px solid #FFF;
		width: 70%;
		}

	#container {
		background:#FFF;
		border:1px solid #FFF;		
		}

	#links {	
		padding:15px;				
		border:1px solid #FFF;
		width:200px;			
		}
		
	.blog {
  		padding:15px;
		background:#FFF; 
		}

	.blogbody {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#333;
		font-size:medium;
		font-weight:normal;
  		background:#FFF;
  		line-height:200%;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}

	.title	{
		font-family: palatino, georgia, times new roman, serif;
		font-size: large;
		color: #666;
		}			

	#menu {
  		margin-bottom:15px;
		background:#FFF;
		text-align:center;
		}		

	.date	{ 
		font-family:palatino, georgia, times new roman, serif; 
		font-size: large; 
		color: #333; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		}			
		
	.posted	{ 
		font-family:verdana, arial, sans-serif; 
		font-size: small; 
		color: #000000; 
		margin-bottom:25px;
		}
		
		
	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;
                text-align:left;
		}
	
	.calendarhead {	
		font-family:palatino, georgia, times new roman, serif;
		color:#666600;
		font-size:medium;
		font-weight:normal;
  		padding:2px;
		letter-spacing: .3em;
  		background:#FFF;
  		text-transform:uppercase;
		text-align:left;			
		}	
	
	.side {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
  		padding:2px;				
		}	
		
	.sidetitle {
		font-family:palatino, georgia, times new roman, serif;
		color:#666600;
		font-size:medium;
		font-weight:normal;
  		padding:2px;
  		margin-top:30px;
		letter-spacing: .3em;
  		background:#FFF;
  		text-transform:uppercase;		
		}		
	
	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xsmall;		
  		line-height:140%;
  		padding:2px;
  		margin-top:15px;
  		background:#FFF;  		
 		}	
		
	.powered {
		font-family:palatino, georgia, times new roman, serif;
		color:#666;
		font-size:small;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:50px;
		letter-spacing: .2em;					
  		background:#FFF;		
		}	
		
	
	.comments-body {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:medium;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;		
		}	
			
	
	.trackback-url {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:medium;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding:5px;		
 		border:1px dotted #999; 					
		}


	.trackback-body {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#666;
		font-size:medium;
		font-weight:normal;
  		background:#FFF;
  		line-height:140%;
 		padding-bottom:10px;
  		padding-top:10px;		
 		border-bottom:1px dotted #999; 					
		}		

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		background:#FFF;		
		}	

		
	.comments-head	{ 
		font-family:palatino, georgia, verdana, arial, sans-serif; 
		font-size:medium; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-top:20px;
		font-weight:bold;
  		background:#FFF;		
		}		

	#banner-commentspop {
		font-family:palatino, georgia, verdana, arial, sans-serif;
		color:#FFF;
		font-size:large;
		font-weight:bold;
		border-left:1px solid #FFF;	
		border-right:1px solid #FFF;  		
		border-top:1px solid #FFF;  		
  		background:#003366;
  		padding-left:15px;
  		padding-right:15px;
  		padding-top:5px;
  		padding-bottom:5px;  		  		  			 
		}

.content_body {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }

.intro_heading {
    color: #330099;
    font-family: Georgia, Times New Roman, Times;
    font-style: italic;
    font-weight: bold;
    }

.intro_text {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: smaller;
    }

.menu {
    left: 0px;
    top: 0px;
    border-bottom: 10px outset GhostWhite;
    padding-top: 5px;
    vertical-align: middle;
    }

.button {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    border: 1px outset black;
    padding: 3px;
    color: gray;
    background-color: WhiteSmoke;
    }

.button#selected {
    font-weight: bold;
    border: 1px outset black;
    padding: 3px;
    color: GhostWhite;
    background-color: gray;
    }

.button a {
    text-decoration: none;
    }

.content {
    font-size: medium;
    }

.links {
    font-size: small;
    }

.footer {
    text-align: center;
    font-size: xx-small;
    }

.listent {
    font-size: small;
    }

.title {
    font-size: large;
    font-weight: bold;
    }

.subtitle {
    font-size: small;
    font-weight: bold;
    }

.subpage {
    left: 0px;
    top: 0px;
    border-bottom: 10px outset GhostWhite;
    vertical-align: middle;
    }

.pasteinfo {
    margin-top: 5px;
    margin-left: 5px;
    }

.blockdef {
    background-color: #FAFAFA;
    border: 2px inset DarkGray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    }

.contentblock {
    }

.ruledef {
    text-decoration: underline;
    }

.code {
    width: 100%;
    background-color: #F6F6F6;
    border: 2px outset GhostWhite;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    }

.code2 {
    font-family: Fixedsys, "Lucida Console", monospace;
    background-color: #B2B2AE;
    padding-right: 0px;
    margin-right: 0px;
    }

.action {
    color: #EFEFEF;
    }

.desc {
    font-size: x-small;
    }

.bookdesc {
    font-size: 70%;
    }

.html_entity {
    color: red;
    }

.xml_pi {
    color: blue;
    }

.xml_tag {
    color: mediumblue;
    }

.keyword {
    color: mediumblue;
    }

.comment {
    color: green;
    }

.literal {
    color: purple;
    }

.sch_literal {
    color: green;
    }

.quotenum {
    color: GhostWhite;
    border-right: 1px solid black;
    background-color: gray;
    }
.quotenum a {
    color: GhostWhite;
    text-decoration: none;
    }
.quotenum a:visited {
    color: GhostWhite;
    text-decoration: none;
    }

.kicked {
    color: darkred;
    margin: 4px;
    }

.mode {
    color: darkred;
    margin: 4px;
    }

.joined {
    color: darkblue;
    margin: 4px;
    }

.listitem {
    border: 2px outset GhostWhite;
    }
